
<body style="background:url('http://i.giphy.com/8VtVKx3ehGguY.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">


  <div class="jumbotron" style="text-align:center; background-color:white; opacity: 0.8; ">
    <h1>⚡️QuickScript⚡️</h1>

    <h3>
      <%= link_to "📝 Pages", pages_path%>
    </h3>
  </div>

</body>
